<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/translations.css" />
    <title>Polyglot - Translations</title>
  </head>

  <body>
    <div id="languages">
      <div class="lang">
        <h2>English</h2>
        <input type="text">
      </div>
      <div class="lang">
        <h2>Swedish</h2>
        <input type="text">
      </div>
    </div>
  </body>
</html>
