{{ define "key-group" }}
{{ $parentKey := .Key }}
{{ range $key, $value := .Data }}
{{ $fullKey := printf "%s-%s" $parentKey $key }}
{{ if (IsMap $value) }}
<fieldset class="nested">
    <legend>{{ $key }}:</legend>
    {{ template "key-group" Dict "Key" $fullKey "Data" $value }}
</fieldset>
{{ else }}
<label for="{{ $fullKey }}">{{ $key }}:</label>
<input type="text" id="{{ $fullKey }}" name="{{ $fullKey }}" value="{{ $value }}"><br>
{{ end }}
{{ end }}
{{ end }}

{{ define "language" }}
<div id="lang-{{ .Key }}" class="lang">
    <h2>{{ .Name }}</h2>
    {{ template "key-group" Dict "Key" .Key "Data" .Data }}
</div>
{{ end }}